.human_mask {
  stroke-width: 2px;
  stroke: #c6e5e7;
  stroke-dashoffset: 0;
  stroke-dasharray: 5000;

  position: absolute;
  left: -1%;
  top: 43%;
  rotate: -10deg;
  opacity: 1;
  z-index: 10;
  pointer-events: none;

  transition-property: transform, opacity;
  transition-duration: 0.1s, 2s;
  transition-timing-function: ease;

  animation-name: human_stroke;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes human_stroke {
  0% {
    stroke-dashoffset: 5000;
  }
  90% {
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.human_mask_path {
  pointer-events: auto;
}

.human-wrapper {
  width: 893px;
  height: 1090px;
  position: absolute;
  left: -1%;
  top: 43%;
  rotate: -10deg;
  opacity: 0;
  z-index: 0;

  transition-property: transform, opacity;
  transition-duration: 0.1s, 2s;
  transition-timing-function: ease;

  pointer-events: auto;
}

.human {
  width: 100%;
  height: 100%;

  background-image: url("asset/human.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.human::before,
.human::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: inherit;
  background-repeat: inherit;
  background-position: inherit;
  opacity: 0;
  z-index: -1;
}

.human.glitch-active {
  /* 본체도 약간 떨리게 만듦 */
  animation-name: glitch-shake;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* 첫 번째 복제본: Red/Cyan 효과 및 상단부 클리핑 */
.human.glitch-active::before {
  opacity: 1;
  left: 10px; /* 오른쪽으로 살짝 치우침 */
  clip-path: inset(0 0 0 0);

  /* 빨간색 필터 효과 */
  filter: drop-shadow(-10px 0 red);

  animation-name: glitch-anim-1;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: both;
}

/* 두 번째 복제본: Blue/Magenta 효과 및 하단부 클리핑 */
.human.glitch-active::after {
  opacity: 1;
  left: -10px; /* 왼쪽으로 살짝 치우침 */
  clip-path: inset(0 0 0 0);

  /* 파란색 필터 효과 */
  filter: drop-shadow(10px 0 blue);

  animation-name: glitch-anim-2;
  animation-duration: 1s;
  animation-timing-function: steps(2); /* 끊어지는 느낌 */
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.android_mask {
  stroke-width: 2px;
  stroke: #c6e5e7;
  stroke-dashoffset: 0;
  stroke-dasharray: 5000;

  position: absolute;
  left: 52%;
  top: -5%;
  rotate: -6deg;
  opacity: 1;
  z-index: 10;
  pointer-events: none;

  transition-property: transform, opacity;
  transition-duration: 0.1s, 2s;
  transition-timing-function: ease;

  animation-name: android_stroke;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes android_stroke {
  0% {
    stroke-dashoffset: -5000;
  }
  90% {
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.android_mask_path {
  pointer-events: auto;
}

.android-wrapper {
  width: 1228px;
  height: 1381px;
  position: absolute;
  left: 52%;
  top: -5%;
  rotate: -6deg;
  opacity: 0;
  z-index: 0;

  transition-property: transform, opacity;
  transition-duration: 0.1s, 2s;
  transition-timing-function: ease;

  pointer-events: auto;
}

.android {
  width: 100%;
  height: 100%;

  background-image: url("asset/android.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.android::before,
.android::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: inherit;
  background-repeat: inherit;
  background-position: inherit;
  opacity: 0;
  z-index: -1;
}

.android.glitch-active {
  /* 본체도 약간 떨리게 만듦 */
  animation-name: glitch-shake;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* 첫 번째 복제본: Red/Cyan 효과 및 상단부 클리핑 */
.android.glitch-active::before {
  opacity: 1;
  left: 10px; /* 오른쪽으로 살짝 치우침 */
  clip-path: inset(0 0 0 0);

  /* 빨간색 필터 효과 */
  filter: drop-shadow(-10px 0 red);

  animation-name: glitch-anim-1;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: both;
}

/* 두 번째 복제본: Blue/Magenta 효과 및 하단부 클리핑 */
.android.glitch-active::after {
  opacity: 1;
  left: -10px; /* 왼쪽으로 살짝 치우침 */
  clip-path: inset(0 0 0 0);

  /* 파란색 필터 효과 */
  filter: drop-shadow(10px 0 blue);

  animation-name: glitch-anim-2;
  animation-duration: 1s;
  animation-timing-function: steps(2); /* 끊어지는 느낌 */
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes glitch-anim-1 {
  0% {
    clip-path: inset(20% 0 80% 0);
  }
  20% {
    clip-path: inset(60% 0 10% 0);
  }
  40% {
    clip-path: inset(40% 0 50% 0);
  }
  60% {
    clip-path: inset(80% 0 5% 0);
  }
  80% {
    clip-path: inset(10% 0 70% 0);
  }
  100% {
    clip-path: inset(30% 0 20% 0);
  }
}

@keyframes glitch-anim-2 {
  0% {
    clip-path: inset(10% 0 60% 0);
  }
  20% {
    clip-path: inset(30% 0 20% 0);
  }
  40% {
    clip-path: inset(70% 0 10% 0);
  }
  60% {
    clip-path: inset(20% 0 50% 0);
  }
  80% {
    clip-path: inset(60% 0 30% 0);
  }
  100% {
    clip-path: inset(5% 0 80% 0);
  }
}

@keyframes glitch-shake {
  0% {
    transform: translate(2px, 2px);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  50% {
    transform: translate(-2px, 2px);
  }
  75% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(2px, 2px);
  }
}

@keyframes unstable-power-on {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  6% {
    opacity: 0.3;
  } /* 틱 */
  10% {
    opacity: 0.1;
  }
  15% {
    opacity: 1;
  } /* 팟! */
  20% {
    opacity: 0.2;
  } /* 꺼질 듯 말 듯 */
  25% {
    opacity: 0;
  } /* 꺼짐 */
  30% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.4;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  } /* 완전히 켜지기 직전 */
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  } /* 안정화 */
}

.human-wrapper.power-on,
.android-wrapper.power-on {
  opacity: 1;

  animation-name: unstable-power-on;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.asi.power-on,
.new_int.power-on,
.new_era.power-on {
  opacity: 1;
  pointer-events: auto;

  animation-name: unstable-power-on;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.singularity.power-on,
.etc.power-on {
  opacity: 1;

  animation-name: unstable-power-on;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.semiconductor-wrapper {
  width: 160px;
  height: 140px;
  position: absolute;
  left: 44%;
  top: 64%;
  opacity: 0;
  z-index: 2;

  transition-property: transform, opacity;
  transition-duration: 0.1s, 2s;
  transition-timing-function: ease;
}

/* (2) 둥둥 떠다니는 애니메이션을 담당하는 중간 래퍼 */
.semiconductor-floater {
  width: 100%;
  height: 100%;
  position: relative;

  animation-name: floating;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes floating {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  20% {
    transform: translate(8px, -12px) rotate(3deg);
  }

  45% {
    transform: translate(-10px, 5px) rotate(-2deg);
  }

  70% {
    transform: translate(5px, 10px) rotate(1deg);
  }

  85% {
    transform: translate(-6px, -8px) rotate(-3deg);
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

/* (3) 실제 이미지 및 글리치 담당 */
.semiconductor-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  filter: brightness(1) contrast(1);

  background-image: url("asset/semiconductor.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  transition-property: filter;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

/* 호버 시 이미지 밝게 */
.semiconductor-wrapper.active-pulse .semiconductor-image {
  filter: brightness(1.3) contrast(1.1);
}

/* 반도체 글리치용 가상요소 */
.semiconductor-image::before,
.semiconductor-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: inherit;
  background-repeat: inherit;
  background-position: inherit;
  opacity: 0;
  z-index: 1;
}

/* 등장 시 글리치 애니메이션 (.appear-glitch) */
.semiconductor-image.appear-glitch {
  animation-name: glitch-shake;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.semiconductor-image.appear-glitch::before {
  opacity: 1;
  left: 5px;
  filter: drop-shadow(-5px 0 red);

  animation-name: glitch-anim-1;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: both;
}

.semiconductor-image.appear-glitch::after {
  opacity: 1;
  left: -5px;
  filter: drop-shadow(5px 0 blue);

  animation-name: glitch-anim-2;
  animation-duration: 0.5s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

/* (4) 빛 효과 (.semiconductor-glow): 호버 시 부드러운 맥동 */
.semiconductor-glow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 3;
  pointer-events: none;

  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.semiconductor-wrapper.active-pulse .semiconductor-glow {
  opacity: 1;
}

.semiconductor-glow::before,
.semiconductor-glow::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  pointer-events: none;

  transition-property: opacity, transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;

  animation-name: glow-pulse-anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.semiconductor-glow::before {
  background-color: #d3e1ff;
  filter: blur(30px);
  opacity: 1;
  width: 60%;
  height: 60%;
  mix-blend-mode: overlay;
  animation-duration: 3s;
}

.semiconductor-glow::after {
  background-color: #0055ff;
  filter: blur(50px);
  opacity: 0.5;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
  animation-duration: 4s;
}

/* 맥동 애니메이션 키프레임 */
@keyframes glow-pulse-anim {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.4);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }
}

.asi {
  position: absolute;
  opacity: 0;
  top: 15%;
  left: 18%;
  z-index: -1;
  pointer-events: none;
}

.asi_glow {
  position: absolute;
  top: 15%;
  left: 18%;
  z-index: 0;
  filter: opacity(0) brightness(1.5) blur(5px);
  pointer-events: none;

  transition-property: filter;
  transition-duration: 0.7s;
}

.new_int {
  position: absolute;
  opacity: 0;
  top: 28%;
  left: 20%;
  z-index: -1;
  pointer-events: none;
}

.new_int_trigger {
  width: 749px;
  height: 69px;
  position: absolute;
  top: 28%;
  left: 20%;
  fill: transparent;
  z-index: 2;
  pointer-events: none;
}

.new_int_glow {
  position: absolute;
  top: 28%;
  left: 20%;
  z-index: 0;
  filter: opacity(0) brightness(1.2) blur(10px);
  pointer-events: none;

  transition-property: filter;
  transition-duration: 0.7s;
}

.new_era {
  position: absolute;
  opacity: 0;
  top: 36%;
  left: 20%;
  z-index: -1;
  pointer-events: none;
}

.new_era_trigger {
  width: 392px;
  height: 54px;
  position: absolute;
  top: 36%;
  left: 20%;
  fill: transparent;
  z-index: 2;
  pointer-events: none;
}

.new_era_glow {
  position: absolute;
  top: 36%;
  left: 20%;
  z-index: 0;
  filter: opacity(0) brightness(1.2) blur(10px);
  pointer-events: none;

  transition-property: filter;
  transition-duration: 0.7s;
}

.singularity {
  position: absolute;
  opacity: 0;
  top: 46%;
  left: 18%;
  z-index: -1;
}

.description {
  position: absolute;
  top: 58%;
  left: 19%;
  z-index: -1;
  filter: opacity(0) blur(5px);

  transition-property: filter;
  transition-duration: 1s;
}

.etc {
  position: absolute;
  opacity: 0;
  top: 70%;
  left: 60%;
  z-index: -1;
}

.background {
  width: 140%;
  height: 140%;
  position: absolute;
  top: -20%;
  left: 0%;
  opacity: 0;
  z-index: -2;

  transition-property: opacity;
  transition-duration: 4s;

  background-image: url("asset/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  animation-name: background_moving;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes background_moving {
  0% {
    transform: rotate(-10deg) translateX(0px);
  }
  100% {
    transform: rotate(-10deg) translateX(-800px);
  }
}
